.container-list {
    margin: 20px 20px; /* Espaciado alrededor del contenedor */
    padding: 20px; /* Relleno interno */
    background-color: #f9f9f9; /* Fondo sutil */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }
  
  /* Lista */
  .list {
    list-style-type: none; /* Eliminar viñetas de la lista */
    padding: 0; /* Eliminar margen interno */
    margin: 0; /* Eliminar margen externo */
  }